@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

body {
      font-family: 'Roboto', sans-serif;
      background-color: #f4f3f1;
      color: #333;
      margin: 0;
      padding: 20px;
  }

  h1 {
      font-family: 'Poppins', sans-serif;
      color: #217070;
      text-align: center;
      margin-bottom: 1em;
  }

  form {
      max-width: 700px;
      margin: 0 auto;
      background-color: #b6c4e8;
      border: 1px solid #473434;
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 0 10px rgba(252, 4, 4, 0.05);
  }

  label {
      margin: 10px 0 5px;
      font-weight: 600;
  }

  input[type="text"],
  input[type="date"],
  select,
  textarea {
      width: 100%;
      padding: 8px;
      border: 1px solid #241a1a;
      border-radius: 6px;
      margin-bottom: 20px;
      box-sizing: border-box;
      font-size: 1em;
  }

  fieldset {
      border: none;
      margin-bottom: 20px;
  }

  legend {
      font-weight: bold;
      color: #371717;
      margin-bottom: 10px;
  }

  .stars label {
      font-size: 1.5em;
      margin-right: 5px;
      color: #353011;
      cursor: pointer;
      align-items: center;
      flex-direction: column-reverse;
      display: flex;
  }

.stars {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.stars input[type="radio"] {
   margin-bottom: 5px;
}

.stars label:hover,
  .stars input[type="radio"]:hover{
      color: #dd500f;
      transform: scale(1.2);
  }

  input[type="radio"],
  input[type="checkbox"] {
      margin-right: 8px;
  }

  input[type="submit"] {
      background-color: #021212;
      color: white;
      border: none;
      padding: 12px 24px;
      font-size: 1em;
      border-radius: 6px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }

  input[type="submit"]:hover {
      background-color: #36bcbc;
  }

  footer {
      margin-top: 40px;
      text-align: center;
      font-size: 0.9em;
      color: #000000;
      background-color: #b6c4e8;
      padding: 10px;
      max-width: 750px;
      margin: 20px auto;
        border-radius: 12px;
  }